<%= render "shared/breadcrumb",
locals: {
   active_level: 2,
   level_0_name: "Home Icon",
   level_0_link: root_path,
   level_1_name: "Channels",
   level_1_link: channels_path,
   level_2_name: @channel.name,
   level_2_link: nil
   }
%>
<div class="container">
  <div class="row">
    <div class="col-xs-12">          
      <%= render "shared/flash" %>
      <%= render "shared/content_header", locals: {header: "Channel"}  %>
      <%= render "form" %>
    </div><!-- /col-xs-12 -->
  </div><!-- /row -->
</div> <!-- /container -->
