<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>    
<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Count</th>
    </tr>    
  </thead>

  <tbody>
    <% @programs_by_category.each do |program_by_category| %>
      <tr>
        <td><%= link_to program_by_category[0] , ("/programs-by-category/"+program_by_category[0]).html_safe %></td>
        <td><%= program_by_category[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
