<%= render "shared/breadcrumb",
locals: {
   active_level: 2,
   level_0_name: "Home Icon",
   level_0_link: root_path,
   level_1_name: "Programs",
   level_1_link: programs_path,
   level_2_name: "New Program",
   level_2_link: nil
   }
%>
<div class="container">
  <div class="row">
    <div class="col-xs-12">          
      <%= render "shared/flash" %>
      <%= render "shared/content_header", locals: {header: "Program"}  %>
      <%= render "form" %>
    </div><!-- /col-xs-12 -->
  </div><!-- /row -->
</div> <!-- /container -->
