<div class="row adsense-728-90">
  <div class="col-sm-12 col-md-2"></div>
  <div class="col-sm-12 col-md-8 text-center">
    <img src="http://placehold.it/728x90">
  </div>
  <div class="col-sm-12 col-md-2"></div>
</div>
