<% if current_user && admin_user? %>
<!-- Supress Responsive Ad Banner -->
<!-- Logged In As Admin User -->
<div class="row hidden-xs extra-top-margin">
  <div class="col-sm-12 col-md-1 col-lg-2"></div>
  <div class="col-sm-12 col-md-10 col-lg-8 text-center">
    <img src="https://placehold.it/728x90">
  </div>
  <div class="col-sm-12 col-md-1 col-lg-2"></div>
</div>
<% elsif !Rails.env.production? %>
<!-- Supress Responsive Ad Banner -->
<!-- Not In Production -->
<div class="row hidden-xs extra-top-margin">
  <div class="col-sm-12 col-md-1 col-lg-2"></div>
  <div class="col-sm-12 col-md-10 col-lg-8 text-center">
    <img src="https://placehold.it/728x90">
  </div>
  <div class="col-sm-12 col-md-1 col-lg-2"></div>
</div>
<% else %>
<!-- Include Responsive Ad Banner 728x90-->
<div class="row hidden-xs extra-top-margin">
  <div class="col-sm-12 col-md-1 col-lg-2"></div>
  <div class="col-sm-12 col-md-10 col-lg-8 text-center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- STV6 Leaderboard -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-4406472656891849"
         data-ad-slot="7590645688"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script> 
  </div>
  <div class="col-sm-12 col-md-1 col-lg-2"></div>
</div>
    
<% end %>