<% if current_user && admin_user? %>
<!-- Supress Responsive Ad Banner-->
<!-- Logged In As Admin User -->
<div class="visible-xs-block text-center">
  <img src="https://placehold.it/320x100">
</div>
<% elsif !Rails.env.production? %>
<!-- Supress Responsive Ad Banner -->
<!-- Not In Production -->
<div class="visible-xs-block text-center">
  <img src="https://placehold.it/320x100">
</div>
<% else %>
<!-- Include Responsive Ad Banner 320x100-->
<div class="visible-xs-block text-center">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- STV6 Large Mobile Banner -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:100px"
       data-ad-client="ca-pub-4406472656891849"
       data-ad-slot="9067378881"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>  
<% end %>