<% if current_user && admin_user? %>
<!-- Supress Responsive Ad Banner -->
<!-- Logged In As Admin User -->
<div class="extra-top-margin extra-bottom-margin text-center">
  <img src="https://placehold.it/728x90">
</div>
<% elsif !Rails.env.production? %>
<!-- Supress Responsive Ad Banner -->
<!-- Not In Production -->
<div class="extra-top-margin extra-bottom-margin text-center">
  <img src="https://placehold.it/728x90">
</div>
<% else %>
<!-- Include Responsive Ad Banner 728x90-->
<div class="extra-top-margin extra-bottom-margin text-center">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- STV6 Leaderboard -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-4406472656891849"
       data-ad-slot="7590645688"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script> 
</div>  
<% end %>