<div class="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
        <i class="glyphicon glyphicon-home"></i>
        <% end %>
      </li>
      <li class="active"><%= link_to "Conversion Summaries", conversion_summaries_path %></li>
    </ol> <!-- /breadcrumb -->
  </div> <!-- /container -->
</div> <!-- /breadcrumb -->