<% unless defined?(locals[:header]).nil? %>
<h3>
  <%= locals[:header] %>
  <% if locals[:new_path] %>
    <%= render "shared/form_actions", locals: {actions: ["New"], new_path: locals[:new_path]} %> 
  <% end %>
</h3>
<% end %>