<% unless defined?(locals[:header]).nil? %>
<h3>
  <%= locals[:header] %>
  <% if locals[:link_to_new] %>
    <%= link_to 'New', locals[:link_to_new], :class => 'btn btn-xs btn-primary' %>
  <% end %>
</h3>
<% end %>