<footer class="footer extra-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="list-inline small">
          <li><%= link_to "Home", root_path %></li>
          <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
          <li><%= link_to "Contact", about_path %></li>
          <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span></li>
          <li><%= link_to "Privacy", about_path %></li>
        </ul>
      </div> 
    </div>    
  </div>
</footer>