<div class="form-group">
  <div class="row guide-form-control">
      <div class="col-xs-6 col-sm-3">
        <select class="form-control" id="select_region">
          <option>Adelaide</option>
          <option>Brisbane</option>
          <option>Melbourne</option>
          <option>Perth</option>
          <option>Sydney</option>
        </select> 
      </div>
      <div class="col-xs-6 col-sm-3">
        <select class="form-control" id="select_sport">
          <option>AFL</option>
          <option>Cricket</option>
          <option>Soccer</option>
          <option>Rugby League</option>
          <option>Tennis</option>
        </select>      
      </div>
  </div>
</div>
