<div class="home-header">
  <div class="container">
      <h1><%= website_plain_english_formatted_name %></h1> 
      <h3><%= website_plain_english_formatted_l2_name %></h3> 
  </div> <!-- /container -->
</div> <!-- /home-header -->
<div class="container"><p></p></div>