<div class="home-header">
  <div class="container">
      <h1>SPORT ON TV</h1> 
      <h3>EVERY SPORT.  EVERY CHANNEL.</h3> 
  </div> <!-- /container -->
</div> <!-- /home-header -->
<div class="container"><p></p></div>