<table class="table table-condensed">
  <thead>
    <tr>
      <th>Category</th>
      <th>Count</th>
    </tr>    
  </thead>

  <tbody>
    <% @raw_programs_by_category.each do |raw_program_by_category| %>
    <tr>
      <td><%= raw_program_by_category[0] %></td>
      <td><%= raw_program_by_category[1] %></td>
    </tr>
    <% end %>
    <tr class="info">
      <td><strong>Total</strong></td>
      <td><strong><%= RawProgram.count %></strong></td>
    </tr>
  </tbody>
</table>
