<%= render "shared/breadcrumb",
locals: {
   active_level: 2,
   level_0_name: "Home Icon",
   level_0_link: root_path,
   level_1_name: "Broadcast Services By Provider And Region",
   level_1_link: broadcast_services_by_provider_and_region_path,
   level_2_name: params[:provider_id]+" / "+params[:region_id],
   level_2_link: nil
   }
%>
<div class="container">
  <div class="row">
    <div class="col-xs-12">          
      <%= render "shared/flash" %>
      <%= render "shared/content_header", locals: {header: "Provider: " + params[:provider_id]}  %>
      <%= render "broadcast_services/table_index" %>
    </div><!-- /col-xs-12 -->
  </div><!-- /row -->
</div> <!-- /container -->