<table class="table">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @raw_channel.id %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @raw_channel.channel_name %></td>
    </tr>
    <tr>
      <td>Free Or Pay</td>
      <td><%= @raw_channel.free_or_pay %></td>
    </tr>
  </tbody>
</table>
