<table class="table">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @raw_channel.id %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @raw_channel.channel_name %></td>
    </tr>
    <tr>
      <td>XMLTV ID</td>
      <td><%= @raw_channel.xmltv_id %></td>
    </tr>
  </tbody>
</table>
