/* The main CSS file */

/*------------------------------------------------------------------------ 
  Bootstrap customisations and tweaks
  ------------------------------------------------------------------------*/

/*change breadcrumb links color*/
.breadcrumb a{
    color: #c4edfe;
}
.breadcrumb{
    margin-bottom: 0px;
    border-radius: 0px;
}
ol{
    margin-bottom: 0px;
}
.alert{
    margin-top: 20px;
}
.footer{
    background-color: #222222;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand{
  background-image: url('pattern_bars_circle.png');
  background-size: 46px;
  background-repeat: no-repeat;
  float: left;
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 60px;
  padding-right: 12px;
  letter-spacing: 1px;
  font-family: "Arial"
}
.navbar-nav li a {
   line-height: 36px;
}
.navbar-toggle {
   margin-top: 18px;
   margin-right: 0px;
}
.home-header {
    background-color: #5fb0e4;
    background-image: url('home_header.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -15px;
    min-height: 150px;
    padding: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.stv-panel-primary {
    padding-left: 5px;
}
.stv-table-heading-primary {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
    border-top: 1px solid #dddddd;
}