<table class="table", id="form-show">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @region.id %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @region.name %></td>
    </tr>
    <tr>
      <td>Program Count</td>
      <td><%= @programs.count %></td>
    </tr>
  </tbody>
</table>
<p id="form-actions">
  <%= render "shared/form_actions", locals: {actions: ["Edit","Delete"], edit_path: edit_region_path(@region), delete_path: @region} %>  
</p>
